{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/styles/all_meetups.css' %}">
    <title>Django APP</title>
</head>
<body>
    <header>
        <nav><a href="/meetups/">Django Meetups</a></nav>
        <h1>We got Great Meetups Coming Up</h1>
        <p>Find the one that best suits your need</p>
    </header>
    <main>
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for meetup_item in meetups %}
                    <li class="meetup_item">
                        <article>
                            <div class="meetup_summary">
                                <div class="meetup_image">
                                    <img src="{% static 'meetups/images/placeholder.jpg' %}" alt="Meetup Image">
                                </div>
                                <div class="meetup_details">
                                    <h2>{{ meetup_item.title }}</h2>
                                    <address>{{ meetup_item.location }}</address>
                                </div>
                            </div>
                            <div class="meetup_actions">
                                <a href="" class="btn">More Details</a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ol>
        </section>
    </main>
</body>
</html>
